[Unit]
# Human readable name of the unit
Description=IMX PLC Gateway Service

[Service]
# Command to execute when the service is started
ExecStart=/home/debian/venv/bin/python /home/debian/IMX-server/main.py
Restart=always
RestartSec=10s

[Install]
WantedBy=default.target